* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	/* font-family: "Livvic", "Arial", sans-serif; */
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
	color: #ffffff;
}

.container {
	max-width: 1300px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	padding: 0 20px;
}
