%main-font {
	font-family: 'Barlow';
	font-style: normal;
}
%flex-c-sb {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
%flex-c {
	display: flex;
	align-items: center;
}
