.coffeeroasters {
	background-image: url('../img/milk-coffe.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	border-radius: 10px;
	margin-bottom: 168px;
}
.coffeeroasters__heading {
	padding: 0;
	margin: 0;
	padding-top: 137px;
	padding-left: 85px;
	margin-bottom: 24px;
	font-family: 'Fraunces 9pt';
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	color: #fefcf7;
}
.coffeeroasters__text {
	width: 445px;
	padding: 0;
	margin: 0;
	padding-left: 85px;
	margin-bottom: 137px;
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #fefcf7;
}
