.footer {
	background-color: #2c343e;
}

.footer__box {
	@extend %flex-c;
	padding-top: 47px;
	padding-bottom: 47px;
	/* margin-bottom: 135px; */
}

.footer__img {
	padding-right: 102px;
}
.footer__link {
	text-decoration: none;
	color: #83888f;
	padding-right: 33px;
}
.footer__link:hover {
	color: black;
}

.footer__mini-box {
	padding-left: 350px;
	transition: 0.5s;
}

.footer__mini-box img:hover {
	transform: scale(1.2);
	background-color: coral;
}
.footer__icon {
	margin-right: 25px;
}
