.uncompromising {
	background-color: #2c343e;
	margin-bottom: 168px;
}
.uncompromising__box {
	display: flex;
	align-items: center;
	position: relative;
}
.uncompromising__mini-box {
	width: 540px;
	margin: 0;
	padding: 0;
	margin-left: 85px;
	margin-top: 100px;
	margin-right: 125px;
	margin-bottom: 176px;
}
.uncompromising__heading {
	font-family: 'Fraunces 9pt';
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	color: #fefcf7;
}
.uncompromising__content {
	font-family: 'Barlow';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #fefcf7;
	mix-blend-mode: normal;
	opacity: 0.8;
}
.uncompromising__img {
	width: 445px;
	height: 474px;
	padding: 0;
	margin: 0;
	border-radius: 10px;
	position: absolute;
	left: 750px;
	top: -80px;
}
